@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes glow {
  0% {
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.4);
  }
  50% {
    box-shadow: 0 0 30px 10px rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.4);
  }
}

.glowing-effect {
  animation: glow 4s infinite;
}

/* Mobil moslashuv */
@media (max-width: 768px) {
  .glowing-effect {
    width: 70px; /* Mobil uchun kichikroq tugma */
    height: 70px;
    animation: glow 4.5s infinite; /* Sekinroq animatsiya */
  }
}

@font-face {
  font-family: 'Heading';
  src: url('/fonts/Heading.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Section';
  src: url('/fonts/Section.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'italian';
  src: url('/fonts/italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'all';
  src: url('/fonts/all.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}